*.eps
*.nc
*.png
*.jpg
*.o
*.mod
*.dvi
*.bbl
*.aux
*.log
*.out
*.toc
*.svg
*.slurm.*

GreedyColoring
GenerateMeshOnlyFile
GenMask
OperatorDiagnosis
RegionalExtraction
ExtractOceanState
FEOTSInitialize
FEOTSDriver
